/*
	CSS Reset
	Credit to Meyerweb
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*
	Fonts
*/

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
	font-family: 'Mukta';
	src: url('../fonts/Mukta-Regular.ttf');
}

@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-VariableFont_wght.ttf');
}

/*
	Very general rules to ensure small device compatability
*/

html {
	width: 100%;
}

body {
	width: 100%;
}

/*
	Page padding left and right because apparently that looks cool
*/

.page {
	padding-left: 10vw;
	padding-right: 10vw;
}

/*
	Top welcome block of page
*/

.page > .top-section {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;

}

.page > .top-section > .top-section-text {
	font-family: 'Mukta', Verdana, Geneva, Tahoma, sans-serif;
	font-size: 50pt;

	padding-top: 5px;
}


.page > .top-section > .links {
	justify-content: flex-end;
	display: block;
	left: 0;
	margin-top: auto;
}

.page > .top-section > .links a {
	float: right;
	height: 50px;
	width: 50px;

	background-repeat: no-repeat;
	padding-top: 0;
	padding: 15px;
}

.page > .top-section > .links input[type="text"] {
	float: right;
	width: 200px;
	padding: 15px;
	margin-right: 20px;

	border: 2px lightgray solid;

	outline: 0;

	font-family: 'Roboto';
}

.page > .top-section > .links button {
	display: none;

	font-family: 'Roboto';
}

/*
	Links for mobile menu
*/

.page > .mobileMenuLinks {
	position: absolute;
	width: 100%;
}

.page > .mobileMenuLinks > .links > input[type="text"] {
	padding: 10px;
	font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
	width: 100%;
	box-sizing: border-box;
	background: rgb(241, 241, 241);
}

.page > .mobileMenuLinks > .links > a {
	display: inline-block;

	width: 100%;
	padding: 10px;
	font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
	box-sizing: border-box;
	color: black;
	text-decoration: none;
	background: rgb(241, 241, 241);
}

/*
	Special offer
*/

.special-offer {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.special-offer img {
	width: 60%;
}

.special-offer .special-offer-text {
	background-color: rgb(241, 241, 241);
	width: 40%;
}

.special-offer .special-offer-text h3 {
	font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 500;
	font-size: 30pt;
	padding: 20px;
	padding-bottom: 0;
}

.special-offer .special-offer-text p {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 20pt;
	padding: 20px;
	padding-top: 0;
}

/*
	Featured catergory section
*/


.featured {
	width: 100%;
}

.featured h2 {
	font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
	font-size: 30pt;
	padding: 15px;
	padding-bottom: 5px;
}

.featured .featured-entries {
	display: flex;
	flex-direction: row;
}

.featured .featured-entries .featured-entry {
	margin: 10px;
	margin-bottom: 0;
	padding: 10px;
	flex-basis: 0;
	flex: 1 1 0px;

	background-color: #f8f6f6;

	/* border: 1px lightgray solid; */
}

.featured .featured-entries .featured-entry h3 {
	font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20pt;
}

.featured .featured-entries .featured-entry p {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 15pt;
	padding-bottom: 10px;

	font-weight: lighter;
}

.featured .featured-entries .featured-entry img {
	width: 100%;
	vertical-align: bottom;
}